/* line 87, ../sass/misamee.themed.form.autumn.scss */
.themed_form.autumn {
  z-index: 0;
  position: relative;
  margin: 0 auto;
  width: 80%;
}
/* line 93, ../sass/misamee.themed.form.autumn.scss */
.themed_form.autumn .gform_wrapper {
  background: #FFF;
  background-color: #6d0019;
  max-width: 100%;
}
/* line 98, ../sass/misamee.themed.form.autumn.scss */
.themed_form.autumn .gform_wrapper::before, .themed_form.autumn .gform_wrapper::after {
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 20px;
  width: 50%;
  top: 80%;
  max-width: 300px;
  background: rgba(0, 0, 0, 0.7);
  -webkit-box-shadow: 0 25px 20px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0 25px 20px rgba(0, 0, 0, 0.7);
  box-shadow: 0 25px 20px rgba(0, 0, 0, 0.7);
}
/* line 110, ../sass/misamee.themed.form.autumn.scss */
.themed_form.autumn .gform_wrapper::before {
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
  transform: rotate(-3deg);
  left: 10px;
}
/* line 115, ../sass/misamee.themed.form.autumn.scss */
.themed_form.autumn .gform_wrapper::after {
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  transform: rotate(3deg);
  right: 10px;
}
/* line 120, ../sass/misamee.themed.form.autumn.scss */
.themed_form.autumn .gform_wrapper .gform_heading {
  background-color: #a90329;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFA90329', endColorstr='#FF6D0019');
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2E5MDMyOSIvPjxzdG9wIG9mZnNldD0iNDQlIiBzdG9wLWNvbG9yPSIjOGYwMjIyIi8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjNmQwMDE5Ii8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #a90329), color-stop(44%, #8f0222), color-stop(100%, #6d0019));
  background: -webkit-linear-gradient(top, #a90329 0%, #8f0222 44%, #6d0019 100%);
  background: -moz-linear-gradient(top, #a90329 0%, #8f0222 44%, #6d0019 100%);
  background: -o-linear-gradient(top, #a90329 0%, #8f0222 44%, #6d0019 100%);
  background: linear-gradient(top, #a90329 0%, #8f0222 44%, #6d0019 100%);
  -webkit-box-shadow: inset 0px 1px 0px 0px white;
  -moz-box-shadow: inset 0px 1px 0px 0px white;
  box-shadow: inset 0px 1px 0px 0px white;
  color: #FFF;
  text-shadow: 0 -1px rgba(41, 41, 41, 0.5);
  font-weight: normal;
  font-size: 14px;
  line-height: 36px;
  margin: 0 0 7px 0;
  text-align: center;
  width: 100%;
}
/* line 131, ../sass/misamee.themed.form.autumn.scss */
.themed_form.autumn .gform_wrapper h3.gform_title, .themed_form.autumn .gform_wrapper .gform_description {
  width: auto;
  padding: 0 0.25em;
  display: block;
}
/* line 137, ../sass/misamee.themed.form.autumn.scss */
.themed_form.autumn .gform_wrapper .gf_progressbar_wrapper {
  margin: 0 1em;
  width: auto;
}
/* line 142, ../sass/misamee.themed.form.autumn.scss */
.themed_form.autumn .gform_wrapper .validation_error {
  display: none;
}
/* line 146, ../sass/misamee.themed.form.autumn.scss */
.themed_form.autumn .gform_wrapper .gform_body {
  padding-top: 0.1em;
}
/* line 151, ../sass/misamee.themed.form.autumn.scss */
.themed_form.autumn .gform_wrapper .gform_body .gsection_title, .themed_form.autumn .gform_wrapper .gform_body .gsection_description {
  width: 98%;
  margin: 0 auto;
}
/* line 156, ../sass/misamee.themed.form.autumn.scss */
.themed_form.autumn .gform_wrapper .gform_body .gsection_title {
  text-align: center;
}
/* line 160, ../sass/misamee.themed.form.autumn.scss */
.themed_form.autumn .gform_wrapper .gform_body .gsection_description {
  padding: 0 0.5em;
  font-style: italic;
}
/* line 167, ../sass/misamee.themed.form.autumn.scss */
.themed_form.autumn .gform_wrapper .gform_body .gform_fields li.gfield {
  margin: 0;
}
/* line 170, ../sass/misamee.themed.form.autumn.scss */
.themed_form.autumn .gform_wrapper .gform_body .gform_fields li.gfield label {
  font-size: 0.8em;
  line-height: 2.5em;
  width: auto;
  margin: 0 2px 0 10px;
  color: #fff;
}
/* line 178, ../sass/misamee.themed.form.autumn.scss */
.themed_form.autumn .gform_wrapper .gform_body .gform_fields li.gfield:last-child {
  margin-bottom: 5px;
}
/* line 185, ../sass/misamee.themed.form.autumn.scss */
.themed_form.autumn .gform_wrapper .gform_body .clear-multi .ginput_container {
  margin: 0 2px;
  padding: 0;
}
/* line 191, ../sass/misamee.themed.form.autumn.scss */
.themed_form.autumn .gform_wrapper .gform_body .gfield_html {
  color: #999;
  font-size: 11px;
  text-align: center;
}
/* line 198, ../sass/misamee.themed.form.autumn.scss */
.themed_form.autumn .gform_wrapper .gform_body .right_label input.medium, .themed_form.autumn .gform_wrapper .gform_body .right_label select.medium, .themed_form.autumn .gform_wrapper .gform_body .left_label input.medium, .themed_form.autumn .gform_wrapper .gform_body .left_label select.medium {
  width: 100%;
}
/* line 205, ../sass/misamee.themed.form.autumn.scss */
.themed_form.autumn .gform_wrapper .gform_body ul .right_label li, .themed_form.autumn .gform_wrapper .gform_body ul .left_label li {
  margin-bottom: 0;
}
/* line 211, ../sass/misamee.themed.form.autumn.scss */
.themed_form.autumn .gform_wrapper .gform_body .ginput_container {
  margin: 2px 4px;
  padding: 0;
}
/* line 222, ../sass/misamee.themed.form.autumn.scss */
.themed_form.autumn .gform_wrapper .gform_body input[type="text"], .themed_form.autumn .gform_wrapper .gform_body input[type="url"], .themed_form.autumn .gform_wrapper .gform_body input[type="email"], .themed_form.autumn .gform_wrapper .gform_body input[type="tel"], .themed_form.autumn .gform_wrapper .gform_body input[type="number"], .themed_form.autumn .gform_wrapper .gform_body input[type="password"] {
  letter-spacing: normal;
  background: #FCFCFC;
  -webkit-box-shadow: inset 0px 1px 3px 0px #dddddd;
  -moz-box-shadow: inset 0px 1px 3px 0px #dddddd;
  box-shadow: inset 0px 1px 3px 0px #dddddd;
  background-color: white;
  -box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 4px;
  border: 1px solid #b8b8b8;
  font-size: 14px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  width: 100%;
  height: 32px;
  *line-height: 32px;
  *margin-left: -3px;
  *margin-right: -4px;
  display: inline;
  padding: 0px 0 0 5px;
}
/* line 238, ../sass/misamee.themed.form.autumn.scss */
.themed_form.autumn .gform_wrapper .gform_body .validation_error {
  display: none;
}
/* line 242, ../sass/misamee.themed.form.autumn.scss */
.themed_form.autumn .gform_wrapper .gform_body .gfield_description.validation_message {
  padding: 0;
  margin-left: 0;
}
/* line 249, ../sass/misamee.themed.form.autumn.scss */
.themed_form.autumn .gform_wrapper .gform_page_footer {
  margin: 20px auto;
}
/* line 253, ../sass/misamee.themed.form.autumn.scss */
.themed_form.autumn .gform_wrapper .gform_footer, .themed_form.autumn .gform_wrapper .gform_page_footer {
  height: 3em;
  padding: 0.25em;
  margin: 0 auto;
  width: auto;
  background-color: #627d4d;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF627D4D', endColorstr='#FF1F3B08');
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzYyN2Q0ZCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzFmM2IwOCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #627d4d), color-stop(100%, #1f3b08));
  background: -webkit-linear-gradient(top, #627d4d 0%, #1f3b08 100%);
  background: -moz-linear-gradient(top, #627d4d 0%, #1f3b08 100%);
  background: -o-linear-gradient(top, #627d4d 0%, #1f3b08 100%);
  background: linear-gradient(top, #627d4d 0%, #1f3b08 100%);
}
/* line 261, ../sass/misamee.themed.form.autumn.scss */
.themed_form.autumn .gform_wrapper .gform_footer .button, .themed_form.autumn .gform_wrapper .gform_page_footer .button {
  border: 1px solid #769800;
  box-sizing: border-box;
  color: #FFFFFF;
  font-weight: bold;
  font-size: 1em;
  text-shadow: 0 -1px rgba(41, 41, 41, 0.5);
  padding: 0.5em;
  line-height: 1.5em;
  background-color: #ffb76b;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFFFB76B', endColorstr='#FFFF7F04');
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmYjc2YiIvPjxzdG9wIG9mZnNldD0iNTAlIiBzdG9wLWNvbG9yPSIjZmZhNzNkIi8+PHN0b3Agb2Zmc2V0PSI1MSUiIHN0b3AtY29sb3I9InJnYmEoMjU1LCAxMjQsIDAsIDApIi8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSJyZ2JhKDI1NSwgMTI3LCA0LCAwKSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffb76b), color-stop(50%, #ffa73d), color-stop(51%, rgba(255, 124, 0, 0)), color-stop(100%, rgba(255, 127, 4, 0)));
  background: -webkit-linear-gradient(top, #ffb76b 0%, #ffa73d 50%, rgba(255, 124, 0, 0) 51%, rgba(255, 127, 4, 0) 100%);
  background: -moz-linear-gradient(top, #ffb76b 0%, #ffa73d 50%, rgba(255, 124, 0, 0) 51%, rgba(255, 127, 4, 0) 100%);
  background: -o-linear-gradient(top, #ffb76b 0%, #ffa73d 50%, rgba(255, 124, 0, 0) 51%, rgba(255, 127, 4, 0) 100%);
  background: linear-gradient(top, #ffb76b 0%, #ffa73d 50%, rgba(255, 124, 0, 0) 51%, rgba(255, 127, 4, 0) 100%);
}
/* line 266, ../sass/misamee.themed.form.autumn.scss */
.themed_form.autumn .gform_wrapper .gform_footer input[type="submit"].button, .themed_form.autumn .gform_wrapper .gform_page_footer input[type="submit"].button {
  border: 1px solid #769800;
  box-sizing: border-box;
  color: #FFFFFF;
  font-weight: bold;
  font-size: 1em;
  text-shadow: 0 -1px rgba(41, 41, 41, 0.5);
  padding: 0.5em;
  line-height: 1.5em;
  border: 1px solid #769800;
  box-sizing: border-box;
  color: #FFFFFF;
  font-weight: bold;
  font-size: 1em;
  text-shadow: 0 -1px rgba(41, 41, 41, 0.5);
  padding: 0.5em;
  line-height: 1.5em;
  border: none;
  background: none;
  background-color: transparent;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=1, startColorstr='#FF9DD53A', endColorstr='#FF00BABA');
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PHJhZGlhbEdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IiIgcj0iMTAwIj48c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjOWRkNTNhIi8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSJyZ2JhKDE1NywgMjEzLCA1OCwgMCkiLz48L3JhZGlhbEdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
  background: -webkit-gradient(radial, 50%, 0, 50%, 100, color-stop(0%, #9dd53a), color-stop(100%, rgba(157, 213, 58, 0)));
  background: -webkit-radial-gradient(center, ellipse contain, #9dd53a 0%, rgba(157, 213, 58, 0) 100%);
  background: -moz-radial-gradient(center, ellipse contain, #9dd53a 0%, rgba(157, 213, 58, 0) 100%);
  background: -o-radial-gradient(center, ellipse contain, #9dd53a 0%, rgba(157, 213, 58, 0) 100%);
  background: radial-gradient(center, ellipse contain, #9dd53a 0%, rgba(157, 213, 58, 0) 100%);
}
/* line 273, ../sass/misamee.themed.form.autumn.scss */
.themed_form.autumn .gform_wrapper .gform_footer .button {
  width: 100%;
}
/* line 279, ../sass/misamee.themed.form.autumn.scss */
.themed_form.autumn .gform_wrapper .gform_page_footer .button {
  width: 40%;
  float: right;
}
/* line 282, ../sass/misamee.themed.form.autumn.scss */
.themed_form.autumn .gform_wrapper .gform_page_footer .button.gform_button {
  margin-right: auto;
}
/* line 286, ../sass/misamee.themed.form.autumn.scss */
.themed_form.autumn .gform_wrapper .gform_page_footer .gform_previous_button {
  float: left;
}

/* line 297, ../sass/misamee.themed.form.autumn.scss */
.tooltipsy {
  padding: 10px;
  color: #fff;
  background-color: #222;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 10px 0px black;
  -moz-box-shadow: inset 0 0 10px 0px black;
  box-shadow: inset 0 0 10px 0px black;
  text-shadow: 0 0 3px #000;
  position: relative;
}

/* line 307, ../sass/misamee.themed.form.autumn.scss */
.tooltipsy::after {
  content: '';
  position: absolute;
  border: 10px solid transparent;
  border-top-color: #000;
  top: 10px;
  right: -10px;
  z-index: -1;
}

/* line 317, ../sass/misamee.themed.form.autumn.scss */
.tooltipsy-error {
  padding: 10px;
  color: #fff;
  background-color: #780000;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 10px 0px black;
  -moz-box-shadow: inset 0 0 10px 0px black;
  box-shadow: inset 0 0 10px 0px black;
  text-shadow: 0 0 3px #000;
  position: relative;
}

/* line 328, ../sass/misamee.themed.form.autumn.scss */
.tooltipsy-error::after {
  content: '';
  position: absolute;
  border: 10px solid transparent;
  border-top-color: #780000;
  top: 10px;
  right: -10px;
  z-index: -1;
}
