/* line 83, ../sass/misamee.themed.form.formspring.scss */
.themed_form.formspring {
  margin: 1px auto;
}
/* line 87, ../sass/misamee.themed.form.formspring.scss */
.themed_form.formspring .gform_wrapper {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  background: #FFF;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  border-radius: 7px;
  -webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2);
  margin: 0;
  max-width: 100%;
}
/* line 93, ../sass/misamee.themed.form.formspring.scss */
.themed_form.formspring .gform_wrapper .gform_heading {
  border-bottom: 1px solid #EEEEEE;
  background-color: #F7F7F7;
  border-bottom: 1px solid #EEEEEE;
  -webkit-border-radius: 7px 7px 0 0;
  -moz-border-radius: 7px 7px 0 0;
  -ms-border-radius: 7px 7px 0 0;
  -o-border-radius: 7px 7px 0 0;
  border-radius: 7px 7px 0 0;
  -webkit-box-shadow: inset 0px 1px 0px 0px white;
  -moz-box-shadow: inset 0px 1px 0px 0px white;
  box-shadow: inset 0px 1px 0px 0px white;
  color: #777777;
  margin: 0;
  text-align: center;
  width: 100%;
}
/* line 100, ../sass/misamee.themed.form.formspring.scss */
.themed_form.formspring .gform_wrapper .gform_heading h3 {
  font-weight: normal;
  font-size: 14px;
  line-height: 36px;
  margin: 0;
}
/* line 108, ../sass/misamee.themed.form.formspring.scss */
.themed_form.formspring .gform_wrapper h3.gform_title, .themed_form.formspring .gform_wrapper .gform_description {
  width: auto;
  padding: 0 0.25em;
  display: block;
}
/* line 114, ../sass/misamee.themed.form.formspring.scss */
.themed_form.formspring .gform_wrapper .gf_progressbar_wrapper {
  margin: 1em;
  width: auto;
  border-bottom: none;
}
/* line 120, ../sass/misamee.themed.form.formspring.scss */
.themed_form.formspring .gform_wrapper .validation_error {
  display: none;
}
/* line 127, ../sass/misamee.themed.form.formspring.scss */
.themed_form.formspring .gform_wrapper .gform_body .gsection_title, .themed_form.formspring .gform_wrapper .gform_body .gsection_description {
  width: 98%;
  margin: 0 auto;
}
/* line 132, ../sass/misamee.themed.form.formspring.scss */
.themed_form.formspring .gform_wrapper .gform_body .gsection_title {
  text-align: center;
}
/* line 136, ../sass/misamee.themed.form.formspring.scss */
.themed_form.formspring .gform_wrapper .gform_body .gsection_description {
  padding: 0 0.5em;
  font-style: italic;
}
/* line 144, ../sass/misamee.themed.form.formspring.scss */
.themed_form.formspring .gform_wrapper .gform_body .gform_fields li.gfield {
  font-size: 0.8em;
  line-height: 2.5em;
  width: auto;
  margin: 0 2px 0 10px;
}
/* line 150, ../sass/misamee.themed.form.formspring.scss */
.themed_form.formspring .gform_wrapper .gform_body .gform_fields li.gfield.gfield_error {
  background-color: transparent;
  border: none;
  padding: 0;
}
/* line 155, ../sass/misamee.themed.form.formspring.scss */
.themed_form.formspring .gform_wrapper .gform_body .gform_fields li.gfield.gfield_error.gfield_contains_required {
  margin-bottom: 0!important;
}
/* line 158, ../sass/misamee.themed.form.formspring.scss */
.themed_form.formspring .gform_wrapper .gform_body .gform_fields li.gfield.gfield_error.gfield_contains_required div.ginput_container {
  margin-top: 0;
}
/* line 166, ../sass/misamee.themed.form.formspring.scss */
.themed_form.formspring .gform_wrapper .gform_body .gform_fields li.misamee_themed_select label, .themed_form.formspring .gform_wrapper .gform_body .gform_fields li.misamee_themed_select .ginput_container {
  display: inline-block;
}
/* line 170, ../sass/misamee.themed.form.formspring.scss */
.themed_form.formspring .gform_wrapper .gform_body .gform_fields li.misamee_themed_select .ginput_container {
  width: 50%;
}
/* line 172, ../sass/misamee.themed.form.formspring.scss */
.themed_form.formspring .gform_wrapper .gform_body .gform_fields li.misamee_themed_select .ginput_container select {
  width: 100%;
}
/* line 181, ../sass/misamee.themed.form.formspring.scss */
.themed_form.formspring .gform_wrapper .gform_body .clear-multi .ginput_container {
  margin: 0 2px;
  padding: 0;
}
/* line 187, ../sass/misamee.themed.form.formspring.scss */
.themed_form.formspring .gform_wrapper .gform_body .gfield_html {
  color: #999;
  font-size: 11px;
  text-align: center;
}
/* line 194, ../sass/misamee.themed.form.formspring.scss */
.themed_form.formspring .gform_wrapper .gform_body .right_label input.medium, .themed_form.formspring .gform_wrapper .gform_body .right_label select.medium, .themed_form.formspring .gform_wrapper .gform_body .left_label input.medium, .themed_form.formspring .gform_wrapper .gform_body .left_label select.medium {
  width: 100%;
}
/* line 201, ../sass/misamee.themed.form.formspring.scss */
.themed_form.formspring .gform_wrapper .gform_body ul .right_label li, .themed_form.formspring .gform_wrapper .gform_body ul .left_label li {
  margin-bottom: 0;
}
/* line 207, ../sass/misamee.themed.form.formspring.scss */
.themed_form.formspring .gform_wrapper .gform_body .ginput_container {
  margin: 10px;
  padding: 0;
}
/* line 218, ../sass/misamee.themed.form.formspring.scss */
.themed_form.formspring .gform_wrapper .gform_body input[type="text"], .themed_form.formspring .gform_wrapper .gform_body input[type="url"], .themed_form.formspring .gform_wrapper .gform_body input[type="email"], .themed_form.formspring .gform_wrapper .gform_body input[type="tel"], .themed_form.formspring .gform_wrapper .gform_body input[type="number"], .themed_form.formspring .gform_wrapper .gform_body input[type="password"] {
  letter-spacing: normal;
  background: #FCFCFC;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: inset 0px 1px 3px 0px #dddddd;
  -moz-box-shadow: inset 0px 1px 3px 0px #dddddd;
  box-shadow: inset 0px 1px 3px 0px #dddddd;
  background-color: white;
  -box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 4px;
  border: 1px solid #b8b8b8;
  font-size: 14px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  width: 100%;
  height: 32px;
  *line-height: 32px;
  *margin-left: -3px;
  *margin-right: -4px;
  display: inline;
  padding: 0px 0 0 5px;
}
/* line 234, ../sass/misamee.themed.form.formspring.scss */
.themed_form.formspring .gform_wrapper .gform_body .validation_error {
  display: none;
}
/* line 238, ../sass/misamee.themed.form.formspring.scss */
.themed_form.formspring .gform_wrapper .gform_body .gfield_description.validation_message {
  padding: 0;
  margin-left: 0;
}
/* line 245, ../sass/misamee.themed.form.formspring.scss */
.themed_form.formspring .gform_wrapper .gform_page_footer {
  margin: 20px auto;
}
/* line 249, ../sass/misamee.themed.form.formspring.scss */
.themed_form.formspring .gform_wrapper .gform_footer, .themed_form.formspring .gform_wrapper .gform_page_footer {
  height: 3em;
  padding: 0px 7px 14px 7px;
  margin: 0 auto;
  width: auto;
  -webkit-border-radius: 0 0 7px 7px;
  -moz-border-radius: 0 0 7px 7px;
  -ms-border-radius: 0 0 7px 7px;
  -o-border-radius: 0 0 7px 7px;
  border-radius: 0 0 7px 7px;
}
/* line 257, ../sass/misamee.themed.form.formspring.scss */
.themed_form.formspring .gform_wrapper .gform_footer .button, .themed_form.formspring .gform_wrapper .gform_page_footer .button {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #769800;
  box-sizing: border-box;
  color: #FFFFFF;
  text-shadow: 0 -1px rgba(41, 41, 41, 0.5);
  background-color: #ffb76b;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFFFB76B', endColorstr='#FFFF7F04');
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmYjc2YiIvPjxzdG9wIG9mZnNldD0iNTAlIiBzdG9wLWNvbG9yPSIjZmZhNzNkIi8+PHN0b3Agb2Zmc2V0PSI1MSUiIHN0b3AtY29sb3I9IiNmZjdjMDAiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZjdmMDQiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffb76b), color-stop(50%, #ffa73d), color-stop(51%, #ff7c00), color-stop(100%, #ff7f04));
  background-image: -webkit-linear-gradient(top, #ffb76b 0%, #ffa73d 50%, #ff7c00 51%, #ff7f04 100%);
  background-image: -moz-linear-gradient(top, #ffb76b 0%, #ffa73d 50%, #ff7c00 51%, #ff7f04 100%);
  background-image: -o-linear-gradient(top, #ffb76b 0%, #ffa73d 50%, #ff7c00 51%, #ff7f04 100%);
  background-image: linear-gradient(top, #ffb76b 0%, #ffa73d 50%, #ff7c00 51%, #ff7f04 100%);
  font-weight: bold;
  line-height: 1.5em;
  font-size: 18px;
  padding: 9px 14px;
}
/* line 266, ../sass/misamee.themed.form.formspring.scss */
.themed_form.formspring .gform_wrapper .gform_footer input[type="submit"].button, .themed_form.formspring .gform_wrapper .gform_page_footer input[type="submit"].button {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #769800;
  box-sizing: border-box;
  color: #FFFFFF;
  text-shadow: 0 -1px rgba(41, 41, 41, 0.5);
  background-color: #739e00;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=1, startColorstr='#FF739E00', endColorstr='#FF8CC000');
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PHJhZGlhbEdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IiIgcj0iMTAwIj48c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjNzM5ZTAwIi8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjOGNjMDAwIi8+PC9yYWRpYWxHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
  background-size: 100%;
  background-image: -webkit-gradient(radial, 50%, 0, 50%, 100, color-stop(0%, #739e00), color-stop(100%, #8cc000));
  background-image: -webkit-radial-gradient(center, ellipse cover, #739e00 0%, #8cc000 100%);
  background-image: -moz-radial-gradient(center, ellipse cover, #739e00 0%, #8cc000 100%);
  background-image: -o-radial-gradient(center, ellipse cover, #739e00 0%, #8cc000 100%);
  background-image: radial-gradient(center, ellipse cover, #739e00 0%, #8cc000 100%);
}
/* line 271, ../sass/misamee.themed.form.formspring.scss */
.themed_form.formspring .gform_wrapper .gform_footer {
  border-top: none;
}
/* line 274, ../sass/misamee.themed.form.formspring.scss */
.themed_form.formspring .gform_wrapper .gform_footer .button {
  width: 100%;
}
/* line 279, ../sass/misamee.themed.form.formspring.scss */
.themed_form.formspring .gform_wrapper .gform_page_footer {
  border-top: none;
}
/* line 282, ../sass/misamee.themed.form.formspring.scss */
.themed_form.formspring .gform_wrapper .gform_page_footer .button {
  width: 40%;
  float: right;
}
/* line 285, ../sass/misamee.themed.form.formspring.scss */
.themed_form.formspring .gform_wrapper .gform_page_footer .button.gform_button {
  margin-right: auto;
}
/* line 289, ../sass/misamee.themed.form.formspring.scss */
.themed_form.formspring .gform_wrapper .gform_page_footer .gform_previous_button {
  float: left;
}

/* line 300, ../sass/misamee.themed.form.formspring.scss */
.tooltipsy {
  padding: 10px;
  color: #fff;
  background-color: #222;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 10px 0px black;
  -moz-box-shadow: inset 0 0 10px 0px black;
  box-shadow: inset 0 0 10px 0px black;
  text-shadow: 0 0 3px #000;
  position: relative;
  max-width: 150px;
}

/* line 311, ../sass/misamee.themed.form.formspring.scss */
.tooltipsy::after {
  content: '';
  position: absolute;
  border: 10px solid transparent;
  border-top-color: #000;
  top: 10px;
  right: -10px;
  z-index: -1;
}

/* line 321, ../sass/misamee.themed.form.formspring.scss */
.tooltipsy-error {
  padding: 10px;
  color: #fff;
  background-color: #780000;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 10px 0px black;
  -moz-box-shadow: inset 0 0 10px 0px black;
  box-shadow: inset 0 0 10px 0px black;
  text-shadow: 0 0 3px #000;
  position: relative;
  max-width: 150px;
}

/* line 333, ../sass/misamee.themed.form.formspring.scss */
.tooltipsy-error::after {
  content: '';
  position: absolute;
  border: 10px solid transparent;
  border-top-color: #780000;
  top: 10px;
  right: -10px;
  z-index: -1;
}
