@import "compass";
@import "compass/css3/images";
@import "compass/css3/border-radius";
@import "compass/css3/box-shadow";
@import "compass/css3/transform";

// Colors, borders, and typografy
@mixin form-wrapper {
  background: #FFF;
  background-color: rgba(109, 0, 25, 1);
}

@mixin form-header {
  $experimental-support-for-svg: true;
  $experimental-support-for-svg: true;
  background-color: rgb(169, 3, 41);
  @include filter-gradient(#a90329, #6d0019, vertical);
  @include background(linear-gradient(top, rgba(169, 3, 41, 1) 0%, rgba(143, 2, 34, 1) 44%, rgba(109, 0, 25, 1) 100%));

  @include box-shadow(inset 0px 1px 0px 0px #FFFFFF);

  color: #FFF;
  text-shadow: 0 -1px rgba(41, 41, 41, 0.5);
}

@mixin form-body {
  $experimental-support-for-svg: true;
  background-color: rgb(234, 239, 181);
  @include filter-gradient(#eaefb5, #e1e9a0, vertical);
  @include background(linear-gradient(top, rgba(234, 239, 181, 1) 0%, rgba(225, 233, 160, 1) 100%));
}

@mixin form-inputs {
  background: #FCFCFC;

  @include box-shadow(inset 0px 1px 3px 0px #DDDDDD);
  background-color: rgb(255, 255, 255);

  -box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  padding: 4px;

  border: 1px solid #b8b8b8;
  font-size: 14px;

  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

@mixin form-footer {
  $experimental-support-for-svg: true;
  background-color: rgb(98, 125, 77);
  @include filter-gradient(#627d4d, #1f3b08, vertical);
  @include background(linear-gradient(top, rgba(98, 125, 77, 1) 0%, rgba(31, 59, 8, 1) 100%));
}

@mixin form-buttons {
  border: 1px solid #769800;
  box-sizing: border-box;
  color: #FFFFFF;
  font-weight: bold;
  font-size: 1em;
  text-shadow: 0 -1px rgba(41, 41, 41, 0.5);
  padding: 0.5em;
  line-height: 1.5em;
}

@mixin form-buttons-normal {
  $experimental-support-for-svg: true;
  background-color: rgb(255, 183, 107);
  @include filter-gradient(#ffb76b, #ff7f04, vertical);
  @include background(linear-gradient(top, rgba(255, 183, 107, 1) 0%, rgba(255, 167, 61, 1) 50%, rgba(255, 124, 0, 0) 51%, rgba(255, 127, 4, 0) 100%));
}

@mixin form-buttons-submit {
  @include form-buttons;
  $experimental-support-for-svg: true;
  border: none;
  background: none;
  background-color: transparent;
  @include filter-gradient(#9dd53a, #00baba, horizontal);
  @include background(radial-gradient(center, ellipse contain, rgba(157, 213, 58, 1) 0%, rgba(157, 213, 58, 0) 100%));
}

// Everything else...
.themed_form.autumn {
  z-index: 0;
  position: relative;
  margin: 0 auto;
  width: 80%;

  .gform_wrapper {
    @include form-wrapper;

    max-width: 100%;

    &::before, &::after {
      z-index: -1;
      position: absolute;
      content: "";
      bottom: 20px;
      width: 50%;
      top: 80%;
      max-width: 300px;
      background: rgba(0, 0, 0, 0.7);
      @include box-shadow(0 25px 20px rgba(0, 0, 0, 0.7));
    }

    &::before {
      @include transform(rotate(-3deg));
      left: 10px;
    }

    &::after {
      @include transform(rotate(3deg));
      right: 10px;
    }

    .gform_heading {
      @include form-header;

      font-weight: normal;
      font-size: 14px;
      line-height: 36px;
      margin: 0 0 7px 0;
      text-align: center;
      width: 100%;
    }

    h3.gform_title, .gform_description {
      width: auto;
      padding: 0 0.25em;
      display: block;
    }

    .gf_progressbar_wrapper {
      margin: 0 1em;
      width: auto;
    }

    .validation_error {
      display: none;
    }

    .gform_body {
      //@include form-body;

      padding-top: 0.1em;

      .gsection_title, .gsection_description {
        width: 98%;
        margin: 0 auto;
      }

      .gsection_title {
        text-align: center;
      }

      .gsection_description {
        padding: 0 0.5em;
        font-style: italic;
      }

      .gform_fields {

        li.gfield {
          margin: 0;

          label {
            font-size: 0.8em;
            line-height: 2.5em;
            width: auto;
            margin: 0 2px 0 10px;
            color: #fff;
          }

          &:last-child {
            margin-bottom: 5px;
          }
        }
      }

      .clear-multi {
        .ginput_container {
          margin: 0 2px;
          padding: 0;
        }
      }

      .gfield_html {
        color: #999;
        font-size: 11px;
        text-align: center;
      }

      .right_label, .left_label {
        input.medium, select.medium {
          width: 100%;
        }
      }

      ul {
        .right_label, .left_label {
          li {
            margin-bottom: 0;
          }
        }
      }

      .ginput_container {
        margin: 2px 4px;
        padding: 0;
      }

      input {
        &[type="text"],
        &[type="url"],
        &[type="email"],
        &[type="tel"],
        &[type="number"],
        &[type="password"] {
          letter-spacing: normal;

          @include form-inputs;

          width: 100%;
          height: 32px;

          *line-height: 32px;
          *margin-left: -3px;
          *margin-right: -4px;
          display: inline;
          padding: 0px 0 0 5px;
        }
      }

      .validation_error {
        display: none;
      }

      .gfield_description.validation_message {
        padding: 0;
        margin-left: 0;
      }

    }

    .gform_page_footer {
      margin: 20px auto;
    }

    .gform_footer, .gform_page_footer {
      height: 3em;
      padding: 0.25em;
      margin: 0 auto;
      width: auto;

      @include form-footer;

      .button {
        @include form-buttons;
        @include form-buttons-normal;
      }

      input[type="submit"].button {
        @include form-buttons;
        @include form-buttons-submit;
      }
    }

    .gform_footer {
      .button {
        width: 100%;
      }
    }

    .gform_page_footer {
      .button {
        width: 40%;
        float: right;
        &.gform_button {
          margin-right: auto;
        }
      }
      .gform_previous_button {
        float: left;
      }
    }

  }
  //.gform_wrapper
}

//.themed_form

.tooltipsy {
  padding: 10px;
  color: #fff;
  background-color: #222;
  @include border-radius(10px);
  @include box-shadow(inset 0 0 10px 0px #000);
  text-shadow: 0 0 3px #000;
  position: relative;
}

.tooltipsy::after {
  content: '';
  position: absolute;
  border: 10px solid transparent;
  border-top-color: #000;
  top: 10px;
  right: -10px;
  z-index: -1;
}

.tooltipsy-error {
  padding: 10px;
  color: #fff;
  background-color: #780000;
  @include border-radius(10px);
  @include box-shadow(inset 0 0 10px 0px #000);

  text-shadow: 0 0 3px #000;
  position: relative;
}

.tooltipsy-error::after {
  content: '';
  position: absolute;
  border: 10px solid transparent;
  border-top-color: #780000;
  top: 10px;
  right: -10px;
  z-index: -1;
}
